:root {
    --header-color: #ECECEC;
    --button-color: #2196F3;
    --white-color: #FFFFFF;
    --main-color: #2F303A;
    --grey-color: #757575;
    --title-work: #F5F4FA;
    --link-color: #212121;
    --color-dark: #000000;
}

body {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 1px solid tomato;
}

/* header */

.header {
    background-color: var(--header-color);
    padding-top: 24px;
    padding-bottom: 25px;
}
.logo {
    vertical-align: middle;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--button-color);
    margin-right: 89px;
}

.logo-header {
    color: var(--color-dark);
}

.header-nav-ul-li-a {
    color: var(--link-color);
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.02em;
}

.header-ul-li-a {
    color: var(--grey-color);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.header-nav,
.header-contacts-list,
.header-nav-item,
.contacts-item,
.header-nav-list,
.logo {
    display: inline-block;
}
.header-nav{
    margin-right: 340px;
}

.header-ul-li-a:hover {
    color: var(--button-color)
}

.header-ul-li-a {
    color: var(--grey-color);
    text-decoration: none;
    font-weight: 500;
}
/* Варінат 1 */
/* .header-nav-item{
    margin-right: 50px;
}
.header-nav-item:last-child{
    margin-right: 0;
} */
/* Варінт 2 */
.header-nav-item:not(:last-child) {
    margin-right: 46px;
}  
/* .header-nav-item:nth-child(2) {
    margin-left: 50px;
    margin-right: 50px;
} */

/* .header-nav-item:nth-child(3) {
    margin-right: 344px;
} */

.contacts-item:nth-child(1) {
    margin-right: 46px;
}

.header-ul-li-a:hover {
    color: var(--button-color)
}

.header-nav-ul-li-a:hover {
    color: var(--button-color);
}

.header-nav-ul-li-a:hover {
    color: var(--button-color);

}

/* main-section */

.main-section {
    background-color: var(--main-color);
    padding-top: 200px;
    padding-bottom: 200px;
}

.main-section-h1 {
    color: var(--white-color);
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    padding-bottom: 30px;
}

.button {
    margin: 0 auto;
    display: block;
    color: var(--white-color);
    background-color: var(--button-color);
    font-size: 16px;
    line-height: 1.87;
    border-radius: 8px;

    /* our-pluses */

}

.our-pluses-ul-li-p {
    color: var(--grey-color);
    font-weight: 400;
    line-height: 1.71;
}

.our-pluses-ul-li-h3 {
    color: var(--link-color);
}

.our-pluses {
    padding-top: 94px;
}

.our-pluses-ul-li {
    display: inline-block;
    width: 270px;
    vertical-align: top;
}
.our-pluses-ul-li:not(:last-child)
{
 margin-right: 26px;
}

/* our-work */
.our-work-ul-li:not(:last-child){
    margin-right: 26px;
}

.our-work-h3 {
    text-align: center;
    color: var(--link-color);
    font-size: 36px;
    padding-bottom: 50px;
}

.our-work {
    padding-top: 94px;
    padding-bottom: 94px;
}

.our-work-ul-li {
    display: inline-block;
    width: 370px;
}

/* .our-work-ul-li:nth-child(2) {
    padding-left: 30px;
    padding-right: 30px;
} */


/* our-developers */
.our-developers-ul-li-img{
    margin-bottom: 30px;
}

.our-developers-ul-li:not(:last-child){
    margin-right: 26px;
}

.our-developers {
    background-color: var(--title-work);
    padding-top: 94px;
    padding-bottom: 94px;
}

.our-developers-h3 {
    text-align: center;
    color: var(--link-color);
    font-size: 36px;
    margin-bottom: 50px;
}

.our-developers-ul-li {
    display: inline-block;
    width: 270px;
    text-align: center;
}


.our-developers-ul-li-p {
    color: var(--link-color);
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;

}

.our-developers-ul-li-h4 {
    color: var(--grey-color);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;


}

/* footer */
.footer {
    background-color: var(--main-color);
    padding-bottom: 60px;
    padding-top: 60px;
}

.footer-address-ul-li-1 {
    color: var(--white-color);
    font-weight: 400;
    line-height: 1.71;
    font-style: normal;
    -bottom: 9px;
}

.footer-address-ul-li-a {
    color: rgba(255, 255, 255, 0.6);
    ;
    text-decoration: none;
    font-weight: 400;
    line-height: 1.71;
    font-style: normal;
}

.footer-address-ul-li-a:hover {
    color: var(--button-color)
}

.logo-footer-span{
    color: var(--white-color);
    margin-bottom: 20px;
}
.logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--button-color);
    margin-bottom: 20px;

}
.footer-address-ul-li:not(:last-child){
    margin-bottom: 9px;
}
